@charset "UTF-8";

@font-face {
  font-family: "HelveticaNeueLTProBd";
  src: url("./assets/HelveticaNeueLTProBd.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTProBdCn";
  src: url("./assets/HelveticaNeueLTProBdCn.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeueLTProLtCn";
  src: url("./assets/HelveticaNeueLTPro-LtCn.otf") format("opentype");
}

@font-face {
  font-family: "Humanist521BT-Bold";
  src: url("./assets/Humanist521BT-Bold.otf") format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Oswald:wght@200;300;400;500;700&display=swap");

$font-Bd: "HelveticaNeueLTProBd", sans-serif;
$font-BdCn: "HelveticaNeueLTProBdCn", sans-serif;
$font-LtCn: "HelveticaNeueLTProLtCn", sans-serif;
$font-Oswald: "Oswald", sans-serif;
$font-Arial: "Arial", sans-serif;
$font-Humanist: "Humanist521BT-Bold", sans-serif;

$semiDark-cyan: #369cd3;
$cyan: #00bcf0;
$lightCyan: #4dc0ea;
$veryLight-cyan: #aedcef;
$blue1-right: #20417e;
$blue2-right: #124997;
$darkBlue: #18224e;
$lightColor: #fff;
$darkColor: #000;
$contrastColor: #7ab51c;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: $font-Bd;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@keyframes thrill {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.01, 0.98, 1);
  }
  40% {
    transform: scale3d(0.98, 1.02, 1);
  }
  50% {
    transform: scale3d(1.02, 0.99, 1);
  }
  65% {
    transform: scale3d(0.98, 1.01, 1);
  }
  75% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes es-pulse {
  0% {
    filter: contrast(1);
  }

  10% {
    filter: contrast(1.2);
  }

  30% {
    filter: contrast(0.75);
  }

  60% {
    filter: contrast(1.5);
  }

  80% {
    filter: contrast(1.2);
  }

  100% {
    filter: contrast(1);
  }
}

@keyframes es-pulse2 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0.7);
  }
  70% {
    transform: scale(1.07);
    box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0);
  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
  }
}

@keyframes es-pulse3 {
  0% {
    transform: scale(1);
    box-shadow: 3px 3px 79px 34px rgba(77, 192, 234, .5),
      3px 3px 61px -1px rgba(214, 232, 241, 1);
    background-color: $semiDark-cyan;
  }
  70% {
    transform: scale(1.07);
    box-shadow: 0 0 0 10px hsla(0, 0%, 100%, 0);
    background-color: $darkBlue;
  }
  to {
    transform: scale(1);
    box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
    background-color: $semiDark-cyan;
  }
}

@keyframes es-resize {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.15);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes es-resize2 {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.15);
  }

  40% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes es-resize2b {
  0% {
    transform: scaleX(0.85) scaleY(1.1);
  }

  10% {
    transform: scaleX(1.1) scaleY(1.25);
  }

  40% {
    transform: scaleX(0.85) scaleY(1.1);
  }

  100% {
    transform: scaleX(0.85) scaleY(1.1);
  }
}

@keyframes arrow_move {
  0% {
    transform: translateX(-10px);
  }

  20% {
    transform: translateX(10px);
  }

  40% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes star_move {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(0deg);
  }
}

#es-novanoc_0522_1.es-novanoc_0522_1 {
  $MW: 960px;

  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  max-width: $MW;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $lightColor;
  background: $lightColor;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5,
  p {
    font-family: $font-BdCn;
    color: $lightColor;
    @include text;
  }

  .text_bold {
    font-weight: 700;
  }

  .textLight {
    font-weight: 300;
  }

  .es-general__span {
    font-weight: 700;
    font-family: $font-BdCn;
  }

  .es-general__sup,
  .es-general__sub {
    font-size: 0.6em;
  }

  .es-general__divider {
    width: 92%;
    margin: 0 auto;
    height: 2px;
    background-color: $lightColor;

    @media screen and (max-width: 500px) {
      height: 1px;
      width: 95%;
    }
  }

  .es-kv {
    position: relative;
    height: calc(1.06 * $MW);
    overflow: hidden;

    @media screen and (max-width: 850px) {
      height: 950px;
    }

    @media screen and (max-width: 850px) {
      height: 900px;
    }

    @media screen and (max-width: 750px) {
      height: 850px;
    }

    @media screen and (max-width: 650px) {
      height: 780px;
    }

    @media screen and (max-width: 600px) {
      height: 950px;
    }

    @media screen and (max-width: 520px) {
      height: 880px;
    }

    @media screen and (max-width: 480px) {
      height: 840px;
    }

    @media screen and (max-width: 440px) {
      height: 820px;
    }

    @media screen and (max-width: 400px) {
      height: 880px;
    }

    @media screen and (max-width: 380px) {
      height: 850px;
    }

    @media screen and (max-width: 350px) {
      height: 800px;
    }

    @media screen and (max-width: 320px) {
      height: 740px;
    }

    &__mainCnt {
      position: relative;
      width: 100%;
    }

    &__bgCnt {
      width: 100%;
    }

    &__bgImg {
      @include img;
    }

    &__new {
      position: absolute;
      top: calc(-0.0625 * $MW);
      right: 4%;
      background-color: $lightColor;
      width: calc(0.177 * $MW);
      text-align: center;
      height: calc(0.1875 * $MW);
      border-radius: 0 0% 50% 50%;
      padding-top: calc(0.078 * $MW);

      @media screen and (max-width: 750px) {
        height: calc(0.15 * $MW);
        width: calc(0.14 * $MW);
        padding-top: 65px;
      }

      @media screen and (max-width: 400px) {
        height: calc(0.13 * $MW);
        width: calc(0.12 * $MW);
        padding-top: 63px;
      }
    }

    &__newText {
      color: $semiDark-cyan;
      text-transform: uppercase;
      font-size: calc(0.038 * $MW);
      font-family: $font-Humanist;
      transform: scaleX(0.85) scaleY(1.1);
      animation: es-resize2b infinite 3s;
      @media screen and (max-width: 750px) {
        font-size: calc(0.03 * $MW);
      }

      @media screen and (max-width: 400px) {
        font-size: calc(0.025 * $MW);
      }

      &:nth-of-type(2) {
        font-size: calc(0.025 * $MW);

        @media screen and (max-width: 750px) {
          font-size: calc(0.02 * $MW);
        }

        @media screen and (max-width: 400px) {
          font-size: calc(0.017 * $MW);
        }
      }
    }

    &__headerCnt {
      width: 100%;
      position: absolute;
      top: calc(0.105 * $MW);

      @media screen and (max-width: 960px) {
        width: 700px;
        left: 50%;
        transform: translateX(-50%);
      }

      @media screen and (max-width: 750px) {
        width: 500px;
      }

      @media screen and (max-width: 520px) {
        width: 450px;
      }

      /*   @media screen and (max-width: 400px) {
        width: 270px;
      } */
    }

    &__5ImgCnt {
      width: 18%;
      position: absolute;
      top: 0;
      left: 8%;
      z-index: 5;
      animation: es-resize2 3s infinite;

      @media screen and (max-width: 520px) {
        left: 2%;
      }

      @media screen and (max-width: 450px) {
        left: 12%;
        width: 14%;
        top: 20px;
      }

      @media screen and (max-width: 360px) {
        left: 16%;
        width: 13%;
        top: 0px;
      }
    }

    &__5Img {
      @include img;
    }

    &__xImgCnt {
      width: 6%;
      position: absolute;
      top: calc(0.06 * $MW);
      left: 28.5%;
      z-index: 5;
      animation: es-resize2 3s infinite 0.15s;

      @media screen and (max-width: 960px) {
        left: 30.5%;
      }

      @media screen and (max-width: 750px) {
        top: 30px;
        left: 28.5%;
      }

      @media screen and (max-width: 520px) {
        width: 7%;
        top: 20px;
        left: 23.5%;
      }

      @media screen and (max-width: 450px) {
        width: 5%;
        top: 35px;
        left: 27.5%;
      }

      @media screen and (max-width: 360px) {
        width: 5%;
        top: 15px;
        left: 30.5%;
      }
    }

    &__xImg {
      @include img;
    }

    &__5BgImgCnt {
      width: 70%;
      position: absolute;
      top: calc(-0.38 * $MW);
      left: -12%;
      animation: es-pulse 6s infinite;

      @media screen and (max-width: 960px) {
        top: calc(-0.3 * $MW);
        left: -12%;
      }

      @media screen and (max-width: 750px) {
        top: calc(-0.22 * $MW);
        left: -15%;
        width: 80%;
      }

      @media screen and (max-width: 520px) {
        width: 90%;
        top: -225px;
        left: -25%;
      }

      @media screen and (max-width: 450px) {
        width: 70%;
        top: -175px;
        left: -10%;
      }

      @media screen and (max-width: 360px) {
        width: 70%;
        top: -185px;
        left: -2%;
      }
    }

    &__5BgImg {
      @include img;
    }

    &__headerTextCnt {
      position: absolute;
      right: 9%;
      top: calc(0.05 * $MW);
      text-align: right;
      z-index: 5;

      @media screen and (max-width: 960px) {
        right: 0%;
      }

      @media screen and (max-width: 750px) {
        top: 20px;
      }

      @media screen and (max-width: 520px) {
        top: 20px;
        right: 30px;
      }

      @media screen and (max-width: 450px) {
        top: 30px;
        right: 60px;
      }

      @media screen and (max-width: 360px) {
        top: 10px;
        right: 75px;
      }
    }

    &__headerTextSmall {
      @include text;
      font-size: calc(0.06 * $MW);
      text-transform: uppercase;
      font-family: $font-BdCn;
      letter-spacing: 1px;

      @media screen and (max-width: 960px) {
        font-size: calc(0.047 * $MW);
      }

      @media screen and (max-width: 750px) {
        font-size: calc(0.035 * $MW);
      }

      @media screen and (max-width: 520px) {
        font-size: calc(0.03 * $MW);
      }

      @media screen and (max-width: 450px) {
        font-size: calc(0.025 * $MW);
      }

      @media screen and (max-width: 360px) {
        font-size: calc(0.022 * $MW);
      }
    }

    &__headerTextBig {
      @include text;
      font-size: calc(0.08 * $MW);
      text-transform: uppercase;
      font-family: $font-BdCn;
      letter-spacing: 1px;
      position: relative;
      margin-top: calc(-0.02 * $MW);

      @media screen and (max-width: 960px) {
        font-size: calc(0.063 * $MW);
      }

      @media screen and (max-width: 750px) {
        font-size: calc(0.047 * $MW);
        margin-top: -10px;
      }

      @media screen and (max-width: 520px) {
        font-size: calc(0.04 * $MW);
      }

      @media screen and (max-width: 450px) {
        font-size: calc(0.033 * $MW);
      }

      @media screen and (max-width: 360px) {
        font-size: calc(0.029 * $MW);
        margin-top: -7px;
      }

      .es-general__sup {
        @include text;
        font-size: 0.2em;
        position: absolute;
        top: calc(0.01 * $MW);

        @media screen and (max-width: 750px) {
          top: 4px;
          margin-left: 2px;
        }

        @media screen and (max-width: 450px) {
          top: 4px;
          margin-left: 0px;
        }
      }
    }

    &__headerBgImgCnt {
      width: 100%;
      position: absolute;
      top: calc(-0.074 * $MW);
      left: 10%;

      @media screen and (max-width: 960px) {
        top: calc(-0.06 * $MW);
        left: 15%;
      }

      @media screen and (max-width: 700px) {
        top: calc(-0.04 * $MW);
        left: 18%;
      }

      @media screen and (max-width: 400px) {
        width: 120%;
        top: calc(-0.04 * $MW);
        left: 10%;
      }
    }

    &__headerBgImg {
      @include img;
    }

    &__arrowBox {
      position: absolute;
      z-index: 10;
      top: calc(0.12 * $MW);
      left: 28%;

      @media screen and (max-width: 960px) {
        top: calc(0.105 * $MW);
        left: 33%;
      }

      @media screen and (max-width: 750px) {
        top: calc(0.065 * $MW);
        left: 28%;
      }

      @media screen and (max-width: 520px) {
        top: calc(0.055 * $MW);
        left: 25%;
      }

      @media screen and (max-width: 450px) {
        top: calc(0.06 * $MW);
        left: 27%;
      }

      @media screen and (max-width: 360px) {
        top: calc(0.04 * $MW);
        left: 31%;
      }
    }

    &__arrowSvg {
      height: calc(0.075 * $MW);
      width: calc(0.09 * $MW);
      position: relative;

      @media screen and (max-width: 960px) {
        height: calc(0.055 * $MW);
        width: calc(0.06 * $MW);
      }
      @media screen and (max-width: 750px) {
        height: calc(0.045 * $MW);
        width: calc(0.05 * $MW);
      }

      @media screen and (max-width: 520px) {
        height: calc(0.038 * $MW);
        width: calc(0.041 * $MW);
      }

      @media screen and (max-width: 450px) {
        height: calc(0.034 * $MW);
        width: calc(0.037 * $MW);
      }

      @media screen and (max-width: 360px) {
        height: calc(0.03 * $MW);
        width: calc(0.032 * $MW);
      }

      &:nth-of-type(1) {
        left: 22%;
      }
      &:nth-of-type(3) {
        left: -22%;
      }
    }

    &__arrowPolygon1 {
      fill: $lightColor;
      animation: arrow_move 3s infinite 0.5s;
    }

    &__arrowPolygon2 {
      animation: arrow_move 3s infinite 0.6s;
      fill: #aedcef;
    }

    &__arrowPolygon3 {
      animation: arrow_move 3s infinite 0.7s;

      fill: #4dc0ea;
    }

    &__mainProductImgCnt {
      position: absolute;
      top: calc(0.1 * $MW);
      left: 46%;
      transform: translateX(-50%);
      width: 65%;

      @media screen and (max-width: 900px) {
        margin-top: 50px;
      }

      @media screen and (max-width: 600px) {
        width: 70%;
        left: 40%;
      }

      @media screen and (max-width: 520px) {
        width: 80%;
        margin-top: 0px;
      }

      @media screen and (max-width: 450px) {
        margin-top: 30px;
        left: 33%;
      }

      @media screen and (max-width: 400px) {
        width: 100%;
        margin-top: 0px;
      }
    }

    &__mainProductImg {
      @include img;
      transition: ease-in-out 0.3s;
      &:hover {
        filter: contrast(1.3);
      }
    }

    &__infoCnt {
      position: absolute;
      top: calc(0.605 * $MW);
      left: 49%;
      display: flex;
      flex-direction: column;
      width: 82%;

      @media screen and (max-width: 960px) {
        top: 70%;
        width: 75%;
      }

      @media screen and (max-width: 800px) {
        width: 90%;
      }

      @media screen and (max-width: 370px) {
        left: 47%;
      }
    }

    &__infoText {
      @include text;
      text-transform: uppercase;
      font-size: calc(0.045 * $MW);
      background: linear-gradient(90deg, $darkBlue 0%, $blue1-right 100%);
      transform: scaleX(0.85) scaleY(1.1);
      margin-bottom: 10px;
      width: auto;
      padding: 2px 20px;
      width: fit-content;
      left: 28.5%;

      @media screen and (max-width: 960px) {
        font-size: calc(0.036 * $MW);
      }

      @media screen and (max-width: 700px) {
        font-size: calc(0.03 * $MW);
      }

      @media screen and (max-width: 600px) {
        font-size: calc(0.028 * $MW);
      }

      @media screen and (max-width: 500px) {
        font-size: calc(0.026 * $MW);
      }

      @media screen and (max-width: 420px) {
        font-size: calc(0.024 * $MW);
      }

      @media screen and (max-width: 370px) {
        font-size: calc(0.022 * $MW);
        margin-bottom: 6px;
        padding: 2px 15px;
      }

      @media screen and (max-width: 330px) {
        font-size: calc(0.02 * $MW);
        padding: 2px 10px;
      }

      &:nth-of-type(2) {
        width: fit-content;
        background: linear-gradient(90deg, $darkBlue 0%, $blue2-right 100%);
        align-self: flex-end;
        transform: scaleX(0.9) scaleY(1.1);
        font-size: calc(0.05 * $MW);
        padding: 0px 20px;
        color: $cyan;

        @media screen and (max-width: 960px) {
          font-size: calc(0.04 * $MW);
        }

        @media screen and (max-width: 700px) {
          font-size: calc(0.033 * $MW);
        }

        @media screen and (max-width: 600px) {
          font-size: calc(0.031 * $MW);
          align-self: flex-start;
          margin-left: 10px;
        }

        @media screen and (max-width: 500px) {
          font-size: calc(0.029 * $MW);
        }

        @media screen and (max-width: 420px) {
          font-size: calc(0.026 * $MW);
        }

        @media screen and (max-width: 370px) {
          font-size: calc(0.024 * $MW);
        }

        @media screen and (max-width: 330px) {
          font-size: calc(0.022 * $MW);
          padding: 2px 10px;
        }
      }
    }

    &__navCnt {
      position: absolute;
      width: 100%;
      display: flex;
      top: calc(0.92 * $MW);
      justify-content: center;

      @media screen and (max-width: 850px) {
        top: 85%;
      }

      @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        top: 68%;
      }

      @media screen and (max-width: 400px) {
        top: 65%;
      }

      @media screen and (max-width: 350px) {
        top: 65%;
      }
    }

    &__navItem {
      margin: 0 3px;
      width: 15%;
      height: calc(0.1 * $MW);
      align-items: center;
      display: flex;
      justify-content: center;
      text-align: center;
      background: transparent;
      cursor: pointer;
      border-radius: 3px;
      transition: all 0.3s ease;
      position: relative;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      outline: none;

      @media screen and (max-width: 750px) {
        height: 70px;
      }

      @media screen and (max-width: 600px) {
        width: 85%;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
        height: auto;
        padding: 5px;
      }
    }

    &__navItemText {
      position: relative;
      text-align: center;
      width: 100%;
      z-index: 3;
      font-family: $font-BdCn;
      font-size: calc(0.023 * $MW);
      line-height: calc(0.024 * $MW);

      &.es-kv__navItemSpecial {
        margin-left: 8%;
      }

      @media screen and (max-width: 850px) {
        font-size: calc(0.02 * $MW);
        line-height: calc(0.021 * $MW);
      }

      @media screen and (max-width: 750px) {
        font-size: calc(0.019 * $MW);
        line-height: calc(0.02 * $MW);
      }

      @media screen and (max-width: 650px) {
        font-size: calc(0.014 * $MW);
        line-height: calc(0.015 * $MW);
        padding: 4px;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
      }

      @media screen and (max-width: 600px) {
        letter-spacing: 0.5px;
        & > br {
          display: none;
        }
      }

      @media screen and (max-width: 320px) {
        font-size: calc(0.013 * $MW);
        line-height: calc(0.014 * $MW);
        padding: 3px;
      }
    }

    &__navItem {
      border: none;
      transition: all 0.3s ease;
      overflow: hidden;
      color: $lightColor;
      text-decoration: none;
      position: relative;
      background-image: linear-gradient(315deg, $lightCyan 0%, $cyan 74%);

      &:after {
        position: absolute;
        content: "";
        z-index: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(315deg, $lightCyan 0%, $cyan 74%);
        -webkit-box-shadow: 3px 3px 79px 34px rgba(77, 192, 234, 1),
        \3px 3px 61px -1px rgba(214, 232, 241, 1);
        -moz-box-shadow: 3px 3px 79px 34px rgba(77, 192, 234, 1),
        3px 3px 61px -1px rgba(214, 232, 241, 1);
        box-shadow: 3px 3px 79px 34px rgba(77, 192, 234, 1),
        3px 3px 61px -1px rgba(214, 232, 241, 1); 
        opacity: 0;
        transition: opacity 1s ease;
      }

      &:hover {     
        background: transparent;
        box-shadow: 3px 3px 61px -1px rgba(214, 232, 241, 1),
        3px 3px 79px 34px rgba(77, 192, 234, 1),
          inset 3px 3px 61px -1px rgba(214, 232, 241, 1),
          inset  3px 3px 79px 34px rgba(77, 192, 234, 1);
        color: $lightColor;    
      }
      &:hover:after {
        opacity: 1;
      }
    }

    &__navItem:hover:after {
      -webkit-box-shadow: 3px 3px 79px 34px rgba(77, 192, 234, 1),
      \3px 3px 61px -1px rgba(214, 232, 241, 1);
      -moz-box-shadow: 3px 3px 79px 34px rgba(77, 192, 234, 1),
      3px 3px 61px -1px rgba(214, 232, 241, 1);
      box-shadow: 3px 3px 79px 34px rgba(77, 192, 234, 1),
      3px 3px 61px -1px rgba(214, 232, 241, 1);
      opacity: 1;
    }
  }

  .es-support {
    position: relative;
    width: 100%;
    padding-top: calc(0.105 * $MW);
    padding-bottom: calc(0.07 * $MW);
    border-bottom: 2px $blue1-right double;

    @media screen and (max-width: 750px) {
      padding-top: calc(0.08 * $MW);
      padding-bottom: calc(0.08 * $MW);
    }

    @media screen and (max-width: 500px) {
      padding-top: calc(0.06 * $MW);
      padding-bottom: calc(0.07 * $MW);
    }

    &__heading {
      @include text;
      color: $darkBlue;
      font-family: $font-Bd;
      text-transform: uppercase;
      text-align: center;
      font-size: calc(0.06 * $MW);
      word-spacing: 10px;
      margin-bottom: 10px;

      @media screen and (max-width: 920px) {
        font-size: calc(0.05 * $MW);
      }

      @media screen and (max-width: 750px) {
        font-size: calc(0.04 * $MW);
        word-spacing: 5px;
      }

      @media screen and (max-width: 600px) {
        font-size: calc(0.035 * $MW);
      }

      @media screen and (max-width: 400px) {
        font-size: calc(0.03 * $MW);
      }
    }

    &__items {
      display: flex;
      justify-content: center;

      @media screen and (max-width: 750px) {
        flex-wrap: wrap;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      width: 32%;
      align-items: center;
      margin: 0 3px;

      @media screen and (max-width: 750px) {
        width: 40%;
        &:not(:last-child) {
          margin-bottom: 70px;
        }
      }

      @media screen and (max-width: 650px) {
        width: 45%;
      }

      @media screen and (max-width: 550px) {
        width: 55%;
      }

      @media screen and (max-width: 400px) {
        width: 75%;
      }

      @media screen and (max-width: 350px) {
        width: 85%;
      }

      @media screen and (max-width: 320px) {
        width: 90%;
      }
    }

    &__itemHeading {
      @include text;
      background-color: $darkBlue;
      font-family: $font-Bd;
      text-transform: uppercase;
      text-align: center;
      font-size: calc(0.03 * $MW);
      padding: 0.2em 0.5em;

      @media screen and (max-width: 960px) {
        font-size: calc(0.028 * $MW);
      }

      &.es-heading_2 {
        background: linear-gradient(90deg, $darkBlue 0%, $blue2-right 100%);
      }

      &.es-heading_3 {
        background-color: $blue2-right;
      }
    }

    &__itemImgCnt {
      width: 38%;
      margin-top: calc(0.065 * $MW);
      margin-bottom: calc(0.03 * $MW);
      animation: es-resize 3s infinite;
    }

    &__itemImg {
      @include img;

      &.es-suppert__itemImgSpc {
        filter: contrast(1.2) saturate(0.6);
      }
    }

    &__itemTitle {
      @include text;
      font-family: $font-Oswald;
      font-weight: 700;
      color: $darkBlue;
      text-transform: uppercase;
      font-size: calc(0.027 * $MW);
      letter-spacing: 1px;
      text-align: center;
      height: calc(0.07 * $MW);

      @media screen and (max-width: 960px) {
        font-size: calc(0.024 * $MW);
      }

      @media screen and (max-width: 800px) {
        font-size: calc(0.022 * $MW);
      }

      @media screen and (max-width: 750px) {
        height: 80px;
      }

      @media screen and (max-width: 400px) {
        height: 50px;
      }
    }

    &__itemDesc {
      @include text;
      font-family: $font-Oswald;
      color: $darkBlue;
      font-size: calc(0.024 * $MW);
      text-align: center;
      padding: 0.7em 1.5em;

      @media screen and (max-width: 960px) {
        font-size: calc(0.022 * $MW);
      }

      @media screen and (max-width: 800px) {
        font-size: calc(0.02 * $MW);
      }
    }
  }

  .es-dosage {
    position: relative;
    width: 100%;
    padding-top: calc(0.115 * $MW);
    padding-bottom: calc(0.12 * $MW);
    border-bottom: 2px $blue1-right double;

    @media screen and (max-width: 600px) {
      padding-top: calc(0.08 * $MW);
      padding-bottom: calc(0.08 * $MW);
    }

    @media screen and (max-width: 450px) {
      padding-top: calc(0.05 * $MW);
      padding-bottom: calc(0.05 * $MW);
    }

    &__titleCnt {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 65%;
      margin: 0 auto;

      @media screen and (max-width: 960px) {
        width: 75%;
      }

      @media screen and (max-width: 850px) {
        width: 85%;
      }

      @media screen and (max-width: 600px) {
        width: 95%;
      }
    }

    &__titleItem {
      @include text;
      font-family: $font-BdCn;
      text-transform: uppercase;
      background: linear-gradient(90deg, $darkBlue 0%, $blue2-right 100%);
      font-size: calc(0.048 * $MW);
      line-height: calc(0.06 * $MW);
      margin-bottom: 5px;
      padding: 0 0.3em;
      width: fit-content;
      letter-spacing: 0.25px;

      @media screen and (max-width: 800px) {
        font-size: calc(0.04 * $MW);
        line-height: calc(0.048 * $MW);
      }

      @media screen and (max-width: 550px) {
        font-size: calc(0.035 * $MW);
        line-height: calc(0.042 * $MW);
      }

      @media screen and (max-width: 500px) {
        font-size: calc(0.032 * $MW);
        line-height: calc(0.038 * $MW);
      }

      @media screen and (max-width: 450px) {
        font-size: calc(0.026 * $MW);
        line-height: calc(0.032 * $MW);
      }

      @media screen and (max-width: 370px) {
        align-self: center;
        text-align: center;
        width: 100%;
      }

      &:nth-of-type(2) {
        align-self: flex-end;
        font-size: calc(0.045 * $MW);
        letter-spacing: 0px;

        @media screen and (max-width: 800px) {
          font-size: calc(0.038 * $MW);
          line-height: calc(0.046 * $MW);
        }

        @media screen and (max-width: 550px) {
          font-size: calc(0.032 * $MW);
          line-height: calc(0.04 * $MW);
        }

        @media screen and (max-width: 500px) {
          font-size: calc(0.028 * $MW);
          line-height: calc(0.034 * $MW);
        }

        @media screen and (max-width: 450px) {
          font-size: calc(0.022 * $MW);
          line-height: calc(0.026 * $MW);
        }
      }
    }

    &__iconsCnt {
      position: relative;
      text-align: center;
      padding: 30px;
      padding-bottom: 50px;
    }

    &__pillIconImgCnt {
      width: 20%;
      margin: 0 auto;
      animation: wiggle 3s infinite;

      @media screen and (max-width: 900px) {
        width: 25%;
      }

      @media screen and (max-width: 800px) {
        width: 30%;
      }

      @media screen and (max-width: 700px) {
        width: 35%;
      }

      @media screen and (max-width: 550px) {
        width: 40%;
      }

      @media screen and (max-width: 450px) {
        width: 45%;
      }

      @media screen and (max-width: 400px) {
        width: 260px;
      }
    }

    &__pillIconImg {
      @include img;

      @media screen and (max-width: 400px) {
        height: 260px;
      }
    }

    &__bedIconImgCnt {
      background-color: $darkBlue;
      border-radius: 100%;
      width: calc(0.105 * $MW);
      height: calc(0.105 * $MW);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: calc(0.005 * $MW);
      right: 37%;
      animation: es-resize 3s infinite;

      @media screen and (max-width: 900px) {
        right: 35%;
        bottom: 10px;
        width: 110px;
        height: 110px;
      }

      @media screen and (max-width: 800px) {
        right: 32%;
      }

      @media screen and (max-width: 700px) {
        right: 30%;
      }

      @media screen and (max-width: 620px) {
        width: 100px;
        height: 100px;
      }

      @media screen and (max-width: 500px) {
        width: 90px;
        height: 90px;
        right: 27%;
      }

      @media screen and (max-width: 400px) {
        width: 130px;
        height: 130px;
        right: 10%;
      }

      @media screen and (max-width: 370px) {
        width: 120px;
        height: 120px;
        right: 4%;
      }
    }

    &__bedIconImg {
      padding: 15px;
      @include img;
      width: 100%;
    }
  }

  .es-video {
    position: relative;
    width: 100%;
    padding-top: calc(0.11 * $MW);
    padding-bottom: calc(0.12 * $MW);

    @media screen and (max-width: 700px) {
      padding-top: calc(0.07 * $MW);
      padding-bottom: calc(0.07 * $MW);
    }

    @media screen and (max-width: 650px) {
      padding-bottom: calc(0.02 * $MW);
    }

    &__heading {
      @include text;
      color: $darkBlue;
      font-family: $font-Bd;
      text-transform: uppercase;
      text-align: center;
      font-size: calc(0.06 * $MW);
      line-height: calc(0.06 * $MW);
      word-spacing: 10px;

      @media screen and (max-width: 920px) {
        font-size: calc(0.05 * $MW);
        line-height: calc(0.05 * $MW);
        padding-right: 20px;
        padding-left: 20px;
      }

      @media screen and (max-width: 750px) {
        font-size: calc(0.04 * $MW);
        line-height: calc(0.04 * $MW);
        word-spacing: 5px;
      }

      @media screen and (max-width: 600px) {
        font-size: calc(0.035 * $MW);
        line-height: calc(0.035 * $MW);
      }

      @media screen and (max-width: 400px) {
        font-size: calc(0.03 * $MW);
        line-height: calc(0.03 * $MW);
      }
    }

    &__headerCnt {
      width: 64%;
      position: absolute;
      left: 45%;
      transform: translateX(-50%);
      top: calc(0.405 * $MW);

      @media screen and (max-width: 960px) {
        width: 700px;
        left: 50%;
        transform: translateX(-50%);
      }

      @media screen and (max-width: 920px) {
        top: 300px;
      }

      @media screen and (max-width: 900px) {
        top: 340px;
      }

      @media screen and (max-width: 750px) {
        width: 500px;
        top: 300px;
      }

      @media screen and (max-width: 520px) {
        width: 350px;
      }

      @media screen and (max-width: 400px) {
        width: 350px;
        top: 255px;
      }
    }

    &__5ImgCnt {
      width: 18%;
      position: absolute;
      top: 0;
      left: 7%;
      z-index: 5;
      animation: es-resize2 3s infinite;

      @media screen and (max-width: 520px) {
        left: 2%;
      }

      @media screen and (max-width: 400px) {
        left: 4%;
        width: 24%;
      }

      @media screen and (max-width: 350px) {
        width: 20%;
        left: 6%;
      }
    }

    &__5Img {
      @include img;
    }

    &__xImgCnt {
      width: 8%;
      position: absolute;
      top: calc(0.015 * $MW);
      left: 27.5%;
      z-index: 5;
      animation: es-resize2 3s infinite 0.2s;

      @media screen and (max-width: 960px) {
        left: 28.5%;
      }

      @media screen and (max-width: 750px) {
        top: 20px;
        left: 27%;
      }

      @media screen and (max-width: 520px) {
        top: 15px;
        left: 22.5%;
      }

      @media screen and (max-width: 400px) {
        width: 6%;
        top: 25px;
        left: 30%;
      }

      @media screen and (max-width: 350px) {
        width: 6%;
        top: 25px;
        left: 29%;
      }
    }

    &__xImg {
      @include img;
    }

    &__5BgImgCnt {
      width: 70%;
      position: absolute;
      top: calc(-0.26 * $MW);
      left: -13%;
      animation: es-pulse 6s infinite;

      @media screen and (max-width: 960px) {
        top: calc(-0.25 * $MW);
        left: -12%;
      }

      @media screen and (max-width: 750px) {
        top: calc(-0.22 * $MW);
        left: -15%;
        width: 80%;
      }

      @media screen and (max-width: 520px) {
        width: 90%;
        top: -175px;
        left: -25%;
      }

      @media screen and (max-width: 400px) {
        width: 100%;
        top: -185px;
        left: -30%;
      }
    }

    &__5BgImg {
      @include img;
    }

    &__headerTextCnt {
      position: absolute;
      right: -10%;
      top: calc(0.005 * $MW);
      text-align: right;
      z-index: 5;

      @media screen and (max-width: 960px) {
        right: 0%;
        top: 30px;
      }

      @media screen and (max-width: 750px) {
        top: 20px;
      }

      @media screen and (max-width: 400px) {
        top: 25px;
        right: 10px;
      }

      @media screen and (max-width: 350px) {
        top: 25px;
        right: 25px;
      }
    }

    &__headerTextSmall {
      @include text;
      font-size: calc(0.05 * $MW);
      text-transform: uppercase;
      font-family: $font-BdCn;
      letter-spacing: 1px;

      @media screen and (max-width: 960px) {
        font-size: calc(0.047 * $MW);
      }

      @media screen and (max-width: 750px) {
        font-size: calc(0.035 * $MW);
      }

      @media screen and (max-width: 520px) {
        font-size: calc(0.025 * $MW);
      }

      @media screen and (max-width: 400px) {
        font-size: calc(0.022 * $MW);
      }

      @media screen and (max-width: 350px) {
        font-size: calc(0.02 * $MW);
      }
    }

    &__headerTextBig {
      @include text;
      font-size: calc(0.07 * $MW);
      text-transform: uppercase;
      font-family: $font-BdCn;
      position: relative;
      margin-top: calc(-0.012 * $MW);

      @media screen and (max-width: 960px) {
        font-size: calc(0.063 * $MW);
      }

      @media screen and (max-width: 750px) {
        font-size: calc(0.047 * $MW);
        margin-top: -10px;
      }

      @media screen and (max-width: 520px) {
        font-size: calc(0.034 * $MW);
      }

      @media screen and (max-width: 400px) {
        margin-top: -4px;
        font-size: calc(0.03 * $MW);
      }

      @media screen and (max-width: 350px) {
        font-size: calc(0.028 * $MW);
      }

      .es-general__sup {
        @include text;
        font-size: 0.2em;
        position: absolute;
        top: calc(0.01 * $MW);

        @media screen and (max-width: 750px) {
          top: 4px;
          margin-left: 2px;
        }

        @media screen and (max-width: 450px) {
          top: 4px;
          margin-left: 0px;
        }
      }
    }

    &__headerBgImgCnt {
      width: 100%;
      position: absolute;
      top: -70px;
      left: 30%;

      @media screen and (max-width: 960px) {
        top: calc(-0.06 * $MW);
        left: 15%;
      }

      @media screen and (max-width: 700px) {
        top: calc(-0.04 * $MW);
        left: 18%;
      }

      @media screen and (max-width: 400px) {
        width: 120%;
        top: calc(-0.04 * $MW);
        left: 10%;
      }
    }

    &__headerBgImg {
      @include img;
    }

    &__arrowBox {
      position: absolute;
      z-index: 10;
      top: calc(0.07 * $MW);
      left: 23%;

      @media screen and (max-width: 960px) {
        top: calc(0.09 * $MW);
        left: 32%;
      }

      @media screen and (max-width: 750px) {
        top: calc(0.065 * $MW);
        left: 28%;
      }

      @media screen and (max-width: 520px) {
        top: calc(0.05 * $MW);
        left: 24%;
      }

      @media screen and (max-width: 400px) {
        top: calc(0.055 * $MW);
        left: 33%;
      }

      @media screen and (max-width: 350px) {
        top: calc(0.05 * $MW);
        left: 32%;
      }
    }

    &__arrowSvg {
      height: calc(0.06 * $MW);
      width: calc(0.09 * $MW);
      position: relative;

      @media screen and (max-width: 960px) {
        height: calc(0.055 * $MW);
        width: calc(0.07 * $MW);
      }
      @media screen and (max-width: 750px) {
        height: calc(0.045 * $MW);
        width: calc(0.055 * $MW);
      }

      @media screen and (max-width: 520px) {
        height: calc(0.035 * $MW);
        width: calc(0.042 * $MW);
      }

      @media screen and (max-width: 400px) {
        height: calc(0.028 * $MW);
        width: calc(0.03 * $MW);
      }

      &:nth-of-type(1) {
        left: 24%;
      }
      &:nth-of-type(3) {
        left: -24%;
      }
    }

    &__arrowPolygon1 {
      fill: $lightColor;
      animation: arrow_move 3s infinite 0.5s;
    }

    &__arrowPolygon2 {
      fill: #aedcef;
      animation: arrow_move 3s infinite 0.6s;
    }

    &__arrowPolygon3 {
      fill: #4dc0ea;
      animation: arrow_move 3s infinite 0.7s;
    }

    &__mainCnt {
      margin-top: calc(0.04 * $MW);
      background: url("./img/kv_bg.png");
    }

    &__title {
      @include text;
      font-family: $font-BdCn;
      background: linear-gradient(90deg, $darkBlue 0%, $blue1-right 100%);
      font-size: calc(0.045 * $MW);
      text-transform: uppercase;
      text-align: center;
      width: 40%;
      position: relative;
      top: calc(-0.016 * $MW);
      left: 50%;
      padding: 2px 0;
      transform: translateX(-50%);

      @media screen and (max-width: 900px) {
        width: 50%;
      }

      @media screen and (max-width: 800px) {
        font-size: calc(0.04 * $MW);
        line-height: calc(0.048 * $MW);
      }

      @media screen and (max-width: 650px) {
        width: 55%;
      }

      @media screen and (max-width: 550px) {
        font-size: calc(0.035 * $MW);
        line-height: calc(0.042 * $MW);
        width: 65%;
      }

      @media screen and (max-width: 500px) {
        font-size: calc(0.032 * $MW);
        line-height: calc(0.038 * $MW);
      }

      @media screen and (max-width: 450px) {
        font-size: calc(0.026 * $MW);
        line-height: calc(0.032 * $MW);
      }

      @media screen and (max-width: 370px) {
        width: 80%;
      }
    }

    &__infoCnt {
      height: 270px;
    }

    &__videoCnt {
      width: 72%;
      margin: 0 auto;
      margin-top: calc(0.02 * $MW);
      height: calc(0.5 * $MW);

      @media screen and (max-width: 960px) {
        margin-top: 50px;
        width: 80%;
      }

      @media screen and (max-width: 800px) {
        margin-top: 10px;
        width: 90%;
        height: 50%;
        padding-bottom: 50px;
      }

      @media screen and (max-width: 520px) {
        margin-top: -20px;
        width: 95%;
      }

      @media screen and (max-width: 410px) {
        margin-top: -40px;
      }

      @media screen and (max-width: 370px) {
        margin-top: -70px;
      }

      @media screen and (max-width: 350px) {
        margin-top: -90px;
      }
    }

    &__container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
    }

    &__iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  .es-when {
    position: relative;
    width: 100%;
    padding-bottom: calc(0.14 * $MW);

    @media screen and (max-width: 660px) {
      margin-top: 60px;
    }

    &__title {
      @include text;
      font-family: $font-BdCn;
      background: linear-gradient(90deg, $darkBlue 0%, $blue1-right 100%);
      font-size: calc(0.045 * $MW);
      letter-spacing: 1.5px;
      text-transform: uppercase;
      text-align: center;
      width: 40%;
      position: relative;
      z-index: 1;
      left: 50%;
      padding: 2px 0;
      transform: translateX(-50%);

      @media screen and (max-width: 900px) {
        width: 50%;
      }

      @media screen and (max-width: 800px) {
        font-size: calc(0.04 * $MW);
        line-height: calc(0.048 * $MW);
      }

      @media screen and (max-width: 650px) {
        width: 60%;
      }

      @media screen and (max-width: 550px) {
        font-size: calc(0.035 * $MW);
        line-height: calc(0.042 * $MW);
        width: 65%;
      }

      @media screen and (max-width: 500px) {
        font-size: calc(0.032 * $MW);
        line-height: calc(0.038 * $MW);
      }

      @media screen and (max-width: 450px) {
        font-size: calc(0.026 * $MW);
        line-height: calc(0.032 * $MW);
      }

      @media screen and (max-width: 370px) {
        width: 85%;
      }
    }

    &__mainCnt {
      display: flex;
      margin-top: -40px;

      @media screen and (max-width: 660px) {
        flex-direction: column-reverse;
        margin-top: -20px;
      }
    }

    &__textCnt {
      width: 65%;
      display: flex;
      flex-direction: column;
      padding-top: calc(0.075 * $MW);
      padding-left: 11%;
      padding-right: 4%;

      @media screen and (max-width: 850px) {
        padding-left: 3%;
        padding-top: 60px;
      }

      @media screen and (max-width: 660px) {
        width: 85%;
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;
        & > br {
          display: none;
        }
      }
    }

    &__text {
      color: $blue1-right;
      font-family: $font-Oswald;
      font-size: calc(0.027 * $MW);
      font-weight: 300;

      @media screen and (max-width: 900px) {
        font-size: calc(0.024 * $MW);
      }

      @media screen and (max-width: 850px) {
        font-size: calc(0.022 * $MW);
      }

      @media screen and (max-width: 750px) {
        font-size: calc(0.02 * $MW);
      }

      @media screen and (max-width: 660px) {
        & > br {
          display: none;
        }
      }

      &:nth-child(2) {
        margin-top: calc(0.025 * $MW);

        @media screen and (max-width: 750px) {
          margin-top: 10px;
        }
      }
    }

    &__imgCnt {
      position: relative;
      z-index: 0;
    }
  }

  .es-table {
    position: relative;
    padding-bottom: calc(0.12 * $MW);
    background: url("./img/kv_bg.png");
    background-position: bottom;

    @media screen and (max-width: 500px) {
      padding-bottom: 70px;
    }

    &__title {
      @include text;
      font-family: $font-BdCn;
      background: linear-gradient(90deg, $darkBlue 0%, $blue1-right 100%);
      font-size: calc(0.045 * $MW);
      letter-spacing: 1.5px;
      text-transform: uppercase;
      text-align: center;
      width: 40%;
      position: relative;
      left: 50%;
      padding: 2px 0;
      top: calc(-0.02 * $MW);
      transform: translateX(-50%);


      @media screen and (max-width: 900px) {
        width: 50%;
      }

      @media screen and (max-width: 800px) {
        font-size: calc(0.04 * $MW);
        line-height: calc(0.048 * $MW);
      }

      @media screen and (max-width: 650px) {
        width: 55%;
      }

      @media screen and (max-width: 550px) {
        font-size: calc(0.035 * $MW);
        line-height: calc(0.042 * $MW);
        width: 65%;
      }

      @media screen and (max-width: 500px) {
        font-size: calc(0.032 * $MW);
        line-height: calc(0.038 * $MW);
      }

      @media screen and (max-width: 450px) {
        font-size: calc(0.026 * $MW);
        line-height: calc(0.032 * $MW);
      }

      @media screen and (max-width: 370px) {
        width: 80%;
      }
    }

    &__tableCnt {
      display: flex;
      flex-direction: column;
      width: 70%;
      top: 0;
      left: 50%;
      margin: 0 auto;
      padding-top: calc(0.06 * $MW);
      @media screen and (max-width: 700px) {
        width: 90%;
      }
    }
   

    &__tableTitle {
      border-bottom: 2px solid $lightColor;
      display: flex;
      width: 100%;

      .es-table__tableItem {
        @include text;
        font-family: $font-Oswald;
        font-weight: 400;
        font-size: calc(0.02 * $MW);
        text-align: end;
        margin-top: calc(0.007 * $MW);
        margin-bottom: calc(0.007 * $MW);
        &:nth-child(1) {
          flex: 7;

          @media screen and (max-width: 400px) {
            flex: 6;
          }
        }

        &:nth-child(2) {
          flex: 2;

          @media screen and (max-width: 400px) {
            flex: 2.5;
          }
        }

        &:nth-child(3) {
          flex: 1.4;
        }

        @media screen and (max-width: 500px) {
          font-size: calc(0.016 * $MW);
        }

        @media screen and (max-width: 400px) {
          font-size: calc(0.015 * $MW);
        }
      }
    }

    &__tableBody {
      .es-table__tableRow {
        border-bottom: 2px solid $lightColor;
        display: flex;
        flex-direction: column;
        margin-top: calc(0.02 * $MW);
        padding-bottom: calc(0.015 * $MW);

        .es-table__rowItem.es-table__rowSmall {
          .es-table__tableItem {
            font-size: calc(0.018 * $MW);
            font-weight: 300;

            @media screen and (max-width: 500px) {
              font-size: calc(0.015 * $MW);
            }

            @media screen and (max-width: 400px) {
              font-size: calc(0.013 * $MW);
            }
          }
        }
      }

      .es-table__rowItem {
        display: flex;

        .es-table__tableItem {
          @include text;
          font-family: $font-Oswald;
          font-weight: 400;
          font-size: calc(0.022 * $MW);
          text-align: end;

          &:nth-child(1) {
            flex: 7;
            text-align: start;

            @media screen and (max-width: 400px) {
              flex: 6;
            }
          }

          &:nth-child(2) {
            flex: 2;

            @media screen and (max-width: 400px) {
              flex: 2.5;
            }
          }

          &:nth-child(3) {
            flex: 1.4;
          }

          @media screen and (max-width: 500px) {
            font-size: calc(0.018 * $MW);
          }

          @media screen and (max-width: 400px) {
            font-size: calc(0.016 * $MW);
          }

          .es-table__tableItemSpan {
            font-family: $font-LtCn;
            font-style: italic;
          }
        }
      }
    }

    &__tableAnnotation {
      font-size: calc(0.015 * $MW);
      margin-top: calc(0.012 * $MW);
      font-family: $font-Oswald;
      font-weight: 200;
      text-align: right;

      @media screen and (max-width: 400px) {
        font-size: calc(0.013 * $MW);
      }
    }
  }

  .es-improve {
    position: relative;
    padding-top: calc(0.125 * $MW);
    width: 100%;
    padding-bottom: calc(0.14 * $MW);

    @media screen and (max-width: 700px) {
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @media screen and (max-width: 600px) {
      padding-top: 80px;
      padding-bottom: 20px;
    }

    &__title {
      @include text;
      font-family: $font-BdCn;
      background: linear-gradient(90deg, $darkBlue 0%, $blue1-right 100%);
      font-size: calc(0.045 * $MW);
      letter-spacing: 1.5px;
      text-transform: uppercase;
      text-align: center;
      width: fit-content;
      position: relative;
      left: 50%;
      padding: 2px calc(0.03 * $MW);
      transform: translateX(-50%);

      @media screen and (max-width: 900px) {
        width: 80%;
      }

      @media screen and (max-width: 800px) {
        font-size: calc(0.04 * $MW);
        line-height: calc(0.048 * $MW);
      }

      @media screen and (max-width: 700px) {
        width: 90%;
      }

      @media screen and (max-width: 620px) {
        width: 95%;
      }

      @media screen and (max-width: 550px) {
        font-size: calc(0.035 * $MW);
        line-height: calc(0.042 * $MW);
      }

      @media screen and (max-width: 500px) {
        font-size: calc(0.032 * $MW);
        line-height: calc(0.038 * $MW);
      }

      @media screen and (max-width: 450px) {
        font-size: calc(0.026 * $MW);
        line-height: calc(0.032 * $MW);
      }
    }

    &__mainCnt {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: calc(0.075 * $MW);
    }

    &__item {
      width: 27%;
      margin-bottom: calc(0.025 * $MW);
      margin-right: 5px;
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      &:nth-of-type(1) {
        .es-improve__itemImgCnt {
          animation: es-resize2 3s infinite;
        }
      }
      &:nth-of-type(2) {
        .es-improve__itemImgCnt {
          animation: es-resize2 3s infinite 0.1s;
        }
      }
      &:nth-of-type(3) {
        .es-improve__itemImgCnt {
          animation: es-resize2 3s infinite 0.2s;
        }
      }

      &:nth-of-type(4) {
        .es-improve__itemImgCnt {
          animation: es-resize2 3s infinite 0.3s;
        }
      }

      &:nth-of-type(5) {
        .es-improve__itemImgCnt {
          animation: es-resize2 3s infinite 0.4s;
        }
      }

      &:nth-of-type(6) {
        .es-improve__itemImgCnt {
          animation: es-resize2 3s infinite 0.5s;
        }
      }

      @media screen and (max-width: 800px) {
        width: 35%;
        margin-bottom: 80px;
      }

      @media screen and (max-width: 650px) {
        width: 40%;
      }

      @media screen and (max-width: 600px) {
        width: 45%;
      }

      @media screen and (max-width: 470px) {
        width: 65%;
      }

      @media screen and (max-width: 400px) {
        width: 70%;
      }

      @media screen and (max-width: 350px) {
        width: 75%;
      }

      @media screen and (max-width: 320px) {
        width: 80%;
      }
    }

    &__itemImgCnt {
      width: 50%;
    }

    &__itemImg {
      @include img;
      width: 100%;
    }

    &__itemDesc {
      @include text;
      margin-top: calc(0.025 * $MW);
      font-family: $font-Oswald;
      color: $blue1-right;
      font-size: calc(0.02 * $MW);

      @media screen and (max-width: 600px) {
        font-size: calc(0.017 * $MW);
      }

      @media screen and (max-width: 400px) {
        font-size: calc(0.016 * $MW);
      }

      .es-general__span {
        font-size: calc(0.022 * $MW);
        text-transform: uppercase;
        font-family: $font-Oswald;
        font-weight: 500;

        @media screen and (max-width: 600px) {
          font-size: calc(0.02 * $MW);
        }

        @media screen and (max-width: 400px) {
          font-size: calc(0.018 * $MW);
        }
      }
    }
  }

  .es-cross {
    position: relative;
    padding-bottom: calc(0.06 * $MW);
    background: url("./img/kv_bg.png");
    background-position: bottom;

    @media screen and (max-width: 600px) {
      padding-bottom: 30px;
    }

    &__productsCnt {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: calc(0.1 * $MW);

      @media screen and (max-width: 600px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    &__productCnt {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      transition: ease-in-out 0.3s;

      @media screen and (max-width: 900px) {
        width: 48%;
      }

      @media screen and (max-width: 600px) {
        width: 60%;

        &:last-child {
          margin-bottom: 70px;
        }
      }

      @media screen and (max-width: 450px) {
        width: 70%;
      }

      @media screen and (max-width: 380px) {
        width: 90%;
      }

      &:hover {
        filter: contrast(1.3);
      }
    }

    &__productImgCnt {
      width: 70%;
      margin-bottom: calc(0.05 * $MW);
    }

    &__productImg {
      @include img;
      position: relative;
      z-index: 10;
    }

    &__leafImgCnt {
      position: absolute;
      right: -2%;
      bottom: calc(0.25 * $MW);
      width: 45%;
      text-align: right;
      animation: thrill 2s infinite;
    }

    &__leafImg {
      @include img;
    }

    &__starsImgCnt {
      position: absolute;
      right: -10%;
      bottom: calc(0.1 * $MW);
      width: 120%;
      animation: star_move 5s infinite ease;
    }

    &__starsImg {
      @include img;
    }

    &__itemTitleCnt {
      position: relative;
    }

    &__arrowsImgCnt {
      position: absolute;
      bottom: calc(0.005 * $MW);
      left: -11%;
      width: 30%;
      z-index: 10;

      animation: arrow_move 2.5s ease-in-out infinite;

      @media screen and (max-width: 700px) {
        bottom: 8px;
        width: 25%;
        left: -2%;
      }

      @media screen and (max-width: 450px) {
        bottom: 5px;
      }
    }

    &__arrowsImg {
      @include img;
    }

    &__itemTitle {
      @include text;
      font-family: $font-BdCn;
      text-transform: uppercase;
      font-size: calc(0.038 * $MW);
      margin-top: 0.25em;
      margin-bottom: 0.25em;
      padding: 0.1em 0.5em;

      @media screen and (max-width: 700px) {
        font-size: calc(0.03 * $MW);
      }

      @media screen and (max-width: 450px) {
        font-size: calc(0.025 * $MW);
      }

      &.es-cross__waleriane {
        background-color: $contrastColor;
      }

      &.es-cross__melatonine {
        background: linear-gradient(90deg, $darkBlue 0%, $blue1-right 100%);
        position: relative;
        z-index: 5;
        margin-left: 50px;
      }
    }

    &__link {
      @include text;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $font-Oswald;
      font-weight: 400;
      color: $lightColor;
      margin: 30px 0;
      width: calc(0.18 * $MW);
      text-align: center;
      font-size: calc(0.023 * $MW);
      padding: 8px 8px;
      border-radius: 18px;
      background-color: $cyan;
      transition: ease-in-out 0.5s;
      animation: es-pulse3 5s infinite;

      &:hover {
        filter: contrast(200%);
      }

      @media screen and (max-width: 700px) {
        font-size: calc(0.02 * $MW);
      }

      @media screen and (max-width: 450px) {
        font-size: calc(0.016 * $MW);
      }
    }

    &__suplementInfo {
      @include text;
      border: 1px solid $lightColor;
      font-family: $font-BdCn;
      float: right;
      margin-right: calc(0.045 * $MW);
      text-align: center;
      width: fit-content;
      margin-top: calc(0.09 * $MW);
      font-size: calc(0.025 * $MW);
      letter-spacing: 0.75px;
      padding: 0.4em 0.6em;
      border-radius: 0.2em;

      @media screen and (max-width: 700px) {
        font-size: calc(0.022 * $MW);
      }
    }

    &__discCnt {
      margin-top: calc(0.1 * $MW);
      padding: 5px calc(0.04 * $MW);

      @media screen and (max-width: 700px) {
        margin-top: 120px;
      }

      @media screen and (max-width: 550px) {
        padding: 5px 15px;
      }

      @media screen and (max-width: 500px) {
        margin-top: 150px;
      }
    }

    &__discMain {
      @include text;
      font-size: calc(0.019 * $MW);
      font-family: $font-BdCn;
      margin-bottom: 0.5em;

      @media screen and (max-width: 700px) {
        font-size: calc(0.017 * $MW);
      }
    }

    &__spanItem {
      @include text;
      font-size: calc(0.017 * $MW);
      font-family: $font-BdCn;
      text-transform: uppercase;
      margin-right: 5px;
      color: $lightColor;

      @media screen and (max-width: 700px) {
        font-size: calc(0.015 * $MW);
      }
    }

    &__discItem {
      @include text;
      font-size: calc(0.012 * $MW);
      line-height: calc(0.016 * $MW);
      font-family: $font-Arial;
      font-weight: 200;
      color: $semiDark-cyan;

      @media screen and (max-width: 700px) {
        font-size: calc(0.011 * $MW);
        line-height: calc(0.015 * $MW);
      }
    }
  }
}
